{% extends "layout.html" %}
{% block content %}
<form method="POST" action="/add"> 
    <div class="container">
        <h1>Add a book to the database</h1>
        <p> Please enter the relevant fields to create a book</p>
        <hr>

        <label for="Title"><b>Title</b></label>
    <input type="text" placeholder="Enter book title" name="Title" required>

    <label for="Author"><b>Author</b></label>
    <input type="text" placeholder="Enter author's name" name="Author" required>

    <label for="Date_published"><b>Date published</b></label>
    <input type="date" placeholder="dd/mm/yyyy" name="Date_published" required>
    <hr>

    <button type="submit" class="addbtn">Submit</button>
    </div>

</form>
{% endblock content %}
