{% extends "bootstrap/base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('site.index') }}">IOT ADMIN WEBSITE</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('site.index') }}">Home</a></li>
            <li><a href="{{ url_for('site.edit_book') }}">Edit a book</a></li>
          </ul>
        

        </div>
      </div>
    </nav>

    <div class="container">

    </div><!-- /.container -->
{% endblock %}
