{% extends "bootstrap/base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('site.index') }}">IOT ADMIN WEBSITE</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('site.index') }}">Home</a></li>
      </ul>
      
    </div>
  </div>
</nav>
{% endblock %}


{% block content %}
    <div class="container">
<form method="POST" action="{{ url_for('site.edit_book', id=book_id) }}">
    {{ form.csrf_token }}
    <br>
    <div>
        {{ form.title.label }} 
        {{ form.title }}
    </div>
    <div>
        {{ form.author.label }} 
        {{ form.author }}
    </div>
    <div>
        {{ form.publisheddate.label }}
        {{ form.publisheddate }}
    </div>
    <input type="submit" value="Submit">
</form>
 </div><!-- /.container -->
{% endblock %}