{% extends "bootstrap/base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('site.index') }}">IOT ADMIN WEBSITE</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <a href="https://datastudio.google.com/embed/reporting/1Cki4tYYAePhD9Tuld6JWXLO82iEftoCd/page/Qfkq">Report</a>
        </div>
      </div>
    </nav>

    <div class="container">

    </div><!-- /.container -->
{% endblock %}
